#  xsmtpsib-39dd2c3e067ef2c640bb6992f7766a2f0e2682c0e48048da9b4d8c735aa3f658-a08bzxeOsnbvryEv
spring:
  application:
    name: authify
  mail:
    host: smtp-relay.brevo.com
    port: 587
    username: 7dcd0d001@smtp-brevo.com
    password: jdkhgbfjkgvjhkdgkjsgkjghs
    properties:
      mail:
        smtp:
          from: senniladri007@gmail.com
          auth: true
          starttls:
            enable: true
        protocol: smtp
  datasource:
    url: jdbc:postgresql://localhost:5432/authify_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect



